{% extends 'base.html' %}

{% block title %}
    Adicionar Paciente - {{ block.super }}
{% endblock title %}

{% block body %}

<br />

<b>Cadastro de Paciente - Prontuário Médico</b>

<br />
<br />

<form method="POST">

    {% csrf_token %}

    <label>Nome</label>
    <br />
    {{ form.nome }}
    <br /><br />

    <label>Sobrenome</label>
    <br />
    {{ form.sobrenome }}
    <br /><br />

    <label>CPF</label>
    <br />
    {{ form.cpf }}
    <br /><br />

    <label>Telefone</label>
    <br />
    {{ form.telefone }}
    <br /><br />

    <label>Email</label>
    <br />
    {{ form.email }}
    <br /><br />

    <label>Data de nascimento</label>
    <br />
    {{ form.data_nascimento }}
    <br /><br />

    <label>Peso (kg)</label>
    <br />
    {{ form.peso }}
    <br /><br />

    <label>Altura (m)</label>
    <br />
    {{ form.altura }}
    <br /><br />

    <label>Endereço</label>
    <br />
    {{ form.endereco }}
    <br /><br />

    <button type="submit">
        Salvar Paciente
    </button>

</form>

<br />

<a href="{% url 'paciente:list_paciente' %}">
    Voltar para Lista de Pacientes
</a>

{% endblock body %}