{% extends 'base.html' %}

{% block title %}

    {% if form.instance.id %}
        Editar Prescrição - {{ block.super }}
    {% else %}
        Adicionar Prescrição - {{ block.super }}
    {% endif %}

{% endblock title %}

{% block body %}

<br />

<b>{% if form.instance.id %}Editar{% else %}Adicionar{% endif %} Prescrição de Medicamento</b>

<br />
<br />

<form method="POST">

    {% csrf_token %}

    <label>Receita</label>
    <br />
    {{ form.receita }}
    <br /><br />

    <label>Medicamento</label>
    <br />
    {{ form.medicamento }}
    <br /><br />

    <label>Frequência (Ex: 8h em 8h)</label>
    <br />
    {{ form.frequencia }}
    <br /><br />

    <label>Duração em Dias</label>
    <br />
    {{ form.duracao_dias }}
    <br /><br />

    <label>Dose (Ex: 1 comprimido)</label>
    <br />
    {{ form.dose }}
    <br /><br />

    <label>Concentração (Ex: 500mg)</label>
    <br />
    {{ form.concentracao }}
    <br /><br />

    <button type="submit">
        {% if form.instance.id %}
            Atualizar Prescrição
        {% else %}
            Salvar Prescrição
        {% endif %}
    </button>

</form>

<br />

<a href="{% url 'receita:list_receita' %}">Voltar para a lista de prescrições</a>

{% endblock body %}