/prontuarioapp/__pycache__/*
/apps/anamnese/__pycache__/*
/apps/medico/__pycache__/*
/apps/paciente/__pycache__/*
/apps/pessoa/__pycache__/*
/apps/consulta/__pycache__/*
/apps/atestado/__pycache__/*
/apps/cid/__pycache__/*
settings.json
/apps/examesolicitado/__pycache__/*
/apps/resultadoexame/__pycache__/*
