{% extends 'base.html' %}

{% block title %}
    Adicionar Pessoa - {{ block.super }}
{% endblock title %}

{% block body %}

<br />

<b>Cadastro de Pessoa - Prontuário Médico</b>

<br />
<br />

<form action="" method="POST">

    {% csrf_token %}

    <label>Nome</label>
    <br />
    {{ form.nome }}
    <br />
    <br />

    <label>Sobrenome</label>
    <br />
    {{ form.sobrenome }}
    <br />
    <br />

    <label>CPF</label>
    <br />
    {{ form.cpf }}
    <br />
    <br />

    <label>Telefone</label>
    <br />
    {{ form.telefone }}
    <br />
    <br />

    <label>E-mail</label>
    <br />
    {{ form.email }}
    <br />
    <br />

    <button type="submit">
        Salvar Pessoa
    </button>

</form>

<br />

<a href="{% url 'pessoa:list_pessoa' %}">
    Voltar para Lista de Pessoas
</a>

{% endblock body %}