{% extends 'base.html' %}

{% block title %}
    Excluir Pessoa - {{ block.super }}
{% endblock title %}

{% block body %}

<br />

<b>Excluir Pessoa</b>

<br />
<br />

<p>
    Tem certeza que deseja excluir a pessoa:
</p>

<br />

<ul>

    <li>
        <b>Nome:</b> {{ pessoa.nome }} {{ pessoa.sobrenome }}
    </li>

    <li>
        <b>CPF:</b> {{ pessoa.cpf }}
    </li>

    <li>
        <b>Email:</b> {{ pessoa.email }}
    </li>

</ul>

<br />

<form method="POST">

    {% csrf_token %}

    <button type="submit">
        Confirmar Exclusão
    </button>

</form>

<br />

<a href="{% url 'pessoa:list_pessoa' %}">
    Cancelar
</a>

{% endblock body %}