{% extends 'base.html' %}

{% block body %}

<h2>Lista de Medicamentos</h2>

<a href="{% url 'medicamento:add_medicamento' %}">Novo Medicamento</a>

<br><br>

<div style="margin-bottom: 25px;">
    <form action="{% url 'medicamento:search_medicamento' %}" method="GET">
        <input name="query" type="text" placeholder="Buscar por nome ou princípio ativo..." 
               style="padding: 10px; width: 350px; border-radius: 5px; border: 1px solid #ccc;">
        <button type="submit" style="padding: 10px 20px; background-color: #2c3e50; color: white; border: none; border-radius: 5px; cursor: pointer;">
            Buscar Medicamento
        </button>
    </form>
</div>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome de Referência</th>
            <th>Princípio Ativo</th>
            <th>Categoria</th>
            <th>Controlado</th>
            <th>Genérico</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        {% for medicamento in medicamentos %}
        <tr>
            <td>{{ medicamento.id }}</td>
            <td>{{ medicamento.nome_referencia }}</td>
            <td>{{ medicamento.principio_ativo }}</td>
            <td>{{ medicamento.categoria }}</td>
            <td>
                {% if medicamento.e_controlado %}
                    Sim
                {% else %}
                    Não
                {% endif %}
            </td>
            <td>
                {% if medicamento.tem_generico %}
                    Sim
                {% else %}
                    Não
                {% endif %}
            </td>

            <td>
                <a href="{% url 'medicamento:edit_medicamento' medicamento.id %}">Editar</a>
                |
                <a href="{% url 'medicamento:delete_medicamento' medicamento.id %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body %}