{% extends 'base.html' %}

{% block title %}

    Excluir Anamnese - {{ block.super }}

{% endblock title %}

{% block body %}

<br />

<b>Excluir Anamnese</b>

<br />
<br />

<p>Tem certeza que deseja excluir esta anamnese?</p>

<br />

<ul>

    <li>
        <b>Paciente:</b> {{ anamnese.paciente }}
    </li>

    <li>
        <b>Médico:</b> {{ anamnese.medico }}
    </li>

    <li>
        <b>Queixa:</b> {{ anamnese.queixa_principal }}
    </li>

    <li>
        <b>Data:</b> {{ anamnese.data_criacao }}
    </li>

</ul>

<br />

<form method="POST">

    {% csrf_token %}

    <button type="submit">
        Confirmar Exclusão
    </button>

</form>

<br />

<a href="{% url 'anamnese:list_anamnese' %}">
    Cancelar
</a>

{% endblock body %}